.DS_Store
assets/
components/
layouts/
middleware/
mixins/
node_modules/
pages/
pkge/
plugins/
src/
static/
store/
utilities/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.map

# Editor directories and files
.nuxt
.vscode
.bitmap
.gitignore
.npmrc
.prettierrc
nuxt.config.js
package-lock.json
readme.*
README.md
tailwind.config.js
vue.config.js
